/*INICIO*/

.icon {
    color: #1b7a7b;
    font-size: 2rem;
}

.punto {
    background-color: #1b7a7b;
    border-radius: 25%;
}

.acomodar {
    transition: all 3s;
    transform: scaleY(-100deg);
    opacity: 01%;
}

.pelotica {
    transition: all 1s;
    color: #9a1a4a;
    transform: translate(0, -320px);
    -webkit-transform: translate(0, -320px);
    -o-transform: translate(0, -320px);
    -moz-transform: translate(0, -320px);
    opacity: 100%;
}

.mov-izq {
    transition: all 3s;
    transform: translate(0px, 0);
}

.mov-izqu {
    transition: all 1s;
    color: #9a1a4a;
    transform: translate(-350px, 0);
    -webkit-transform: translate(-350px, 0); /** Safari & Chrome **/
    -o-transform: translate(-350px, 0); /** Opera **/
    -moz-transform: translate(-350px, 0); /** Firefox **/
}

.mov-der {
    transition: all 3s;
    transform: translate(40px, 0);
}

.mov-dere {
    transition: all 1s;
    color: #9a1a4a;
    transform: translate(350px, 0);
    -webkit-transform: translate(350px, 0); /** Safari & Chrome **/
    -o-transform: translate(350px, 0); /** Opera **/
    -moz-transform: translate(350px, 0); /** Firefox **/
}

// .mov-der:hover {
//     color: #9a1a4a;
//     transform: translate(350px, 0);
//     -webkit-transform: translate(350px, 0); /** Safari & Chrome **/
//     -o-transform: translate(350px, 0); /** Opera **/
//     -moz-transform: translate(350px, 0); /** Firefox **/
// }

.jou:hover {
    background-color: #ff5000;
    border-radius: 32%;
    transition: 1s;
}

.efectico:hover {
    color: white;
    box-shadow: inset 5em 1em gold;
    transform: rotate(90deg);
    transition: 1s;
}

.efecticoDos:hover {
    color: white;
    box-shadow: inset 5em 1em gold;
    transform: rotate(-90deg);
    transition: 1s;
}

.fondo-desaparece {
    transition: 0.8s;
}

.red {
    transition: 2s;
    transform: translatex(15px);
    background-color: hsla(5, 78%, 44%, 0.671);
}

.hou:hover {
    transition: all 1s !important;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.alo:before {
    content: "";
    width: 40%;
    height: 70%;
    background: #f1f1f1;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.carousel-item {
    width: 100%;
    height: 750px;
}

.carousel-caption-video {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 1.875rem;
    width: 100%;
    transform: translateY(-50%);
}

.carousel-item video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: "object-fit: cover;";
    overflow: hidden;
    position: relative;
}

.titulo-video {
    font-weight: bold;
    font-size: 9.1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

.logo-height{
  height: 6rem;
  margin: 5px;
  padding: 5px;
}
.punto-height{
  height: 2rem;
  margin: 25px;
  padding: 1px;

}
.wave{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 6em;
  color: white;
  z-index: 10000;
  -webkit-box-reflect: below  0 linear-gradient(transparent, rgba(255, 255, 255, 0.175));
}
.wave span{
  display: inline-block;
  animation: animation-wave 1s infinite;
  animation-delay: calc(0.1s*var(--item));
}
.wave_out{
  animation: wave_out 1s ease-in-out;
}
.main{
  color: aqua;
}
.d-none{
  display: none;
}

@keyframes animation-wave{
  0%,40%,100%{transform: translateY(0);}
  20%{
      transform: translateY(-20px);
  }
}
@keyframes wave_out {
  0%{
      clip-path: circle(150% at 100% 0);
  }
  100%{
    clip-path: circle(1.1% at 90% 95%);
  }
}


/*Ajuste de video - responsive*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .carousel-item {
        height: 100vh;
    }

    .carousel-item video {
        height: 105vh;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        font-family: "object-fit: cover;";
        overflow: hidden;
        position: relative;
    }

    .carousel-caption-video {
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0 1.875rem;
        width: 100%;
    }

    .wave{
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        font-size: 3em;
        color: white;
        z-index: 10000;
        -webkit-box-reflect: below  0 linear-gradient(transparent, rgba(255, 255, 255, 0.175));
      }
    
      .logo-height{
        height: 2.8rem;
        margin: 2.5px;
        padding: 2.5px;
      }
    
      .punto-height{
        height: .8rem;
        margin: 12.5px;
        padding: 1px;
      
      }
    
      .d-none{
        display: none;
      }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .tap {
      opacity: 1;
      animation: bounce 1s infinite alternate;
      -webkit-animation: bounce 0.5s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
      animation: bounce 0.5s cubic-bezier(0.5, 0.6, 0.6, 1) infinite alternate;
    }
  
    .bg-jumbotron04 {
      background-image: url(../assets/img/Safety2.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -o-object-fit: cover;
      object-fit: cover;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
    }
  
    .bg-jumbotron04:hover {
      background-image: url(../assets/img/Safety.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -o-object-fit: cover;
      object-fit: cover;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
      -webkit-animation: animate 0.8s cubic-bezier(0.2, 0.6, 0.2, 1);
      animation: animate 0.8s cubic-bezier(0.2, 0.6, 0.2, 1);
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
    }
  
    .bg-jumbotron03 {
      background-image: url(../assets/img/pf-s73-eve-set-14-mockup3343432.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -o-object-fit: cover;
      object-fit: cover;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
    }
  
    .bg-jumbotron03:hover {
      background-image: url(../assets/img/Sisdeci.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -o-object-fit: cover;
      object-fit: cover;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
      -webkit-animation: animate 0.8s cubic-bezier(0.2, 0.6, 0.2, 1);
      animation: animate 0.8s cubic-bezier(0.2, 0.6, 0.2, 1);
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
    }
  
    .bg-img {
      filter: grayscale(1);
      z-index: -9;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 32%;
      background-image: url("../assets/img/ramon.png");
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-animation: bg-photo 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
      animation: bg-photo 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s;
      -webkit-animation-timing-function: cubic-bezier(0.5, 0.6, 0.6, 1);
      animation-timing-function: cubic-bezier(0.5, 0.6, 0.6, 1);
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      animation-fill-mode: backwards;
      -webkit-animation-play-state: running;
      animation-play-state: running;
      -webkit-animation-name: bg-photo;
      animation-name: bg-photo;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
    }
  
    .ft-regulador {
      font-size: 4.4rem;
      font-weight: bolder;
    }
  
    .ft-p-regul {
      font-size: 1.7rem;
      font-weight: 500;
    }
    
    .wave{
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      font-size: 3em;
      color: white;
      z-index: 10000;
      -webkit-box-reflect: below  0 linear-gradient(transparent, rgba(255, 255, 255, 0.175));
    }
    
    .logo-height{
      height: 2.8rem;
      margin: 2.5px;
      padding: 2.5px;
    }
    
    .punto-height{
      height: .8rem;
      margin: 12.5px;
      padding: 1px;
    
    }
    
    .d-none{
      display: none;
    }
  }

.b-sombreado {
    background-image: linear-gradient(#ff5000, #ff5000);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 5px;
}

.c-section__title {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-rl;
    -webkit-text-orientation: sideways-right;
    text-orientation: sideways;
    width: 100px;
    position: absolute;
    top: 59.25rem;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.b-left {
    margin-top: 22px;
    transform: rotate(-180deg);
}

.c-section__title:after {
    content: "";
    width: 6px;
    height: 70px;
    background: currentColor;
    margin-right: 2.5rem;
    order: -1;
    flex-shrink: 1;
}

.b-effect:hover {
    transform: scale(1.1);
    background-color: #ff5000;
    z-index: 10;
    transition: all 0.5s;
}

.c-site-nav_trigger-icon:before {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    outline: 1px solid transparent;
    border-radius: 5px;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
}

.c-site-nav__trigger-icon {
    position: relative;
    margin-top: 12px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: none;
}

.c-site-nav_trigger-icon:after {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
    outline: 1px solid transparent;
    border-radius: 5px;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
}

@import "../node_modules/bootstrap/scss/bootstrap";
